<header>
  <nav>
    <div>
      <a href="/">Tasklist</a>
      <button>
        <span></span>
      </button>

      <div>
        <ul>
          <% unless logged_in? %>
            <li><%= link_to '登録', signup_path %></li>
            <li><%= link_to 'ログイン', login_path %></li>
          <% else %>
            <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
