<header>
  <nav >
    <div>
      <a href="/">Tasklist</a>
      <button>
        <span></span>
      </button>

      <div>
        <ul>
          <li><%= link_to '登録', signup_path %></li>
          <li><%= link_to 'ログイン', login_path %></li>
          <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
